<!doctype html>
<html lang="ko" xmlns:th="https://www.thyemleaf.org">
<head>
	<meta charset="UTF-8" />

	<!-- css -->
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" />

		
	<script type="text/javascript" src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery/3.7.0/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/axios/1.6.8/dist/axios.min.js"></script>

	<title>삼백자-이전스토리</title>
</head>
<body>

	<!-- 헤더 -->
	<header class="blackShadow">
		<h1 id="logo"><a href="./index.html"><img src="../static/img/logo.png" alt="sambaegja logo"></a></h1>
		<nav>
			
		</nav>
	</header>
	
	<!-- <p>[[${#dates.format(vo.start_date,"( yyyy . MM . dd )")}]]</p> -->

	<!-- 이전 스토리 모음 -->
	<section id="storyTrainContainer">
		<div class="thisWeekStory blackShadow">
			<h3>( 2024 . 05 . 26 )</h3>
			<p>즈찬즈련 일거율림을 셔질레삭은 티왕기한 로홀에 듀암심은 외드롤아가 저가타이다. 난으학고다 미다알다 경시범의, 서이리빧 호거의 자반성운늴면 식에짚이에 가시다 자껭절 하사가링는다 이이뭐요다. 비우의 소서즈가 리온방의 히드읺잌 디의 근트단은 온어뎔던어 겨누키흐다. 자스롤패길은 셤넌호면 센아는 다뉴스매 움녀너다. 뮤할쇵어하를 가밍사쥤의 변져변...
			</p>
		</div>
		<div class="thisWeekStory blackShadow">
			<h3>( 2024 . 05 . 26 )</h3>
			<p>즈찬즈련 일거율림을 셔질레삭은 티왕기한 로홀에 듀암심은 외드롤아가 저가타이다. 난으학고다 미다알다 경시범의, 서이리빧 호거의 자반성운늴면 식에짚이에 가시다 자껭절 하사가링는다 이이뭐요다. 비우의 소서즈가 리온방의 히드읺잌 디의 근트단은 온어뎔던어 겨누키흐다. 자스롤패길은 셤넌호면 센아는 다뉴스매 움녀너다. 뮤할쇵어하를 가밍사쥤의 변져변...
			</p>
		</div>
	</section>

	<!-- 팝업 오버레이 -->
    <div class="popup-overlay" id="popupOverlay"></div>

    <!-- 팝업 창 -->
    <div class="popup" id="popup">
        <p>팝업 내용</p>
        <span class="popup-close" id="popupClose">닫기</span>
    </div>

    <script src="../static/js/scriptPreBoard.js"></script>


	<!-- <button onclick="location.href='/logout'" class="btn btn-outline-secondary btn-sm" >로그아웃</button>
	<button onclick="javascript:history.back();" class="btn btn-outline-secondary btn-sm" >이전</button> <br /> <p></p>
	<div th:each="vo:${image}" >
		<div>[[${#dates.format(vo.start_date,"yyyy-MM-dd")}]]</div>
		<img th:src="@{|/images/${vo.image}|}" alt=""  style="cursor:pointer;" th:onclick="@{|location.href='/prevBoardSelectByTitle/${#dates.format(vo.start_date,'yyyy-MM-dd')}'|}"/>
	</div> -->
</body>
</html>