@charset 'utf-8';

/* header */
header{
    width: 100%;
    height: 153px;
    background-color: #fff; 
    position: fixed;
    top: 0;
    z-index: 10000;
    /* font-weight: 500; */
}
#logo{
    position: fixed;
    left: 81px;
    top: 55px;
}


/* 이번주올라온스토리 */
#storyTrainContainer{
	width: 1320px;
	margin: 225px 600px 72px;
}
.thisWeekStory{
	margin: 52px 0;
}


/* setting */
.blackShadow{
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
}