<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BoardDAO">
	<select id="select" resultType="BoardVO">
		SELECT * from board where title between (select start_date from images where idx=(select images.idx  from images,board where regdate between start_date and end_date limit 1)) and (select end_date from images where idx=(select images.idx  from images,board where regdate between start_date and end_date limit 1))
	</select>
	<select id="selectBoardByIdx" parameterType="int" resultType="BoardVO">
		select * from board where idx=#{idx}
	</select>
	<insert id="insert" parameterType="BoardVO">
		insert into board(idx,title,content,likey,regdate,id) values(0,date_format(#{title},'%Y-%m-%d'),#{content},#{likey},#{regDate},#{id})
	</insert>
	
	<select id="selectTitle" resultType="java.util.Date">
		select date_format(start_date,'%Y-%m-%d') start_date from sub_board,images where regdate between start_date and end_date limit 1
	</select>
	<update id="updateTitle" parameterType="HashMap">
		update board set title=#{title} where regdate between #{start_date} and #{end_date}
	</update>
	<select id="selectByTitle"  parameterType="java.util.Date" resultType="BoardVO">
		select * from board where title=#{title}
	</select>
</mapper>  
